{% extends "base.html" %}

{%block title %}About{% endblock %}

{%block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="page-header"> About this App</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="info-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam, amet animi architecto
                atque autem deleniti deserunt dolore eos eveniet, excepturi facilis fugit laudantium molestiae
                perspiciatis repellat saepe tempora!</p>
            <p>Accusamus accusantium alias atque commodi fuga hic illum ipsam maxime minus provident quia, sapiente. Ab
                doloremque, eius ipsam nemo obcaecati praesentium voluptate! Deleniti eius expedita minus modi nam,
                neque tempora.</p>
            <p>Consequatur cum delectus dolore eligendi error est exercitationem fugit ipsa iure maxime molestias nam
                necessitatibus, nemo nesciunt nisi odio odit omnis quod rem reprehenderit rerum sequi unde vel velit
                voluptas?</p>
            <p>Aspernatur at beatae doloribus, enim error, est eum, id ipsa libero maiores nostrum omnis repudiandae
                sunt suscipit velit. Aut dolor doloribus ea eveniet in itaque odit praesentium, reprehenderit sapiente
                sunt.</p>
        </div>
    </div>
</div>
{% endblock %}
